.login-page{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Poppins;
}

.login-img>img{
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  background-position: 50% 50%;
}

.login-form-box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size:60px;
    width:450px;
    word-wrap: break-word;
    line-height:95%
}

.dot{
    font-size: 1.2em;
    color: rgba(46,106,218);
}

.login-form-box>form{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
    padding: 0;
    width: 46%;
}

.input-group{
    width: 100%;
    margin:20px 0;
}

.input-label{
    font-size: 20px;
    font-weight:400;
}

.input-box{ 
    padding: 12px;
    width:100%;
    border-radius:10px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-top:5px ;
}