.header{ 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
    font-family: 'Poppins';
    font-weight: 600;
}
.header>h2{
    margin-bottom: 10px;
}
.logout-btn{
    display:flex; 
    align-items: center;
    color: #fff;
    background:rgb(30, 135, 255,0.75);
    border: none;
    border-radius:10px;
    padding: 10px;
    font-family: 'Poppins';
    font-weight: 600;
}

.logout-btn:hover{ 
    cursor: pointer;
    background:rgb(30, 135, 255);
}
