
.assigned-elective{
    background-color:#fdfdfd;
    padding:25px 20px ;
    border-radius: 15px;
    margin: 15px 0;
    width:470px;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.assigned-elective-details{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content:flex-start;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right:40px;
}

.elective-progress-bar{
    height:110px;
    width:110px !important;
    margin-left: 20px;
}