h1{
    font-family:Poppins;
    margin-bottom:0;
}

.home-container{
    margin:0 100px;
}

.user-regno{
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.4;
}

.user-details{
    font-family: Open Sans;
    margin-top:10px;
    display: flex;
    flex-direction: row;
}

.user-details>p{
    
}
