h1{
    font-family:Poppins;
    margin-bottom:0;
    cursor: default;
}

.home-container{
    margin:0 100px;
}

.user-regno{
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.4;
}

.user-details{
    font-family: Open Sans;
    margin-top:15px;
    display: flex;
    flex-direction: row;
}

.user-details>p{
    font-weight: 600;
    padding:5px 15px;
    margin:0;
    margin-right: 10px;
    border-radius: 10px;
    cursor: default;
}

.user-details>p:nth-child(1){
    background: rgb(255, 193, 193,0.5);
    color:rgb(255, 64, 64);
}
.user-details>p:nth-child(2){
    background: rgba(211, 255, 193, 0.5);
    color:rgb(17, 168, 17);
}
.user-details>p:nth-child(3){
    background: rgba(193, 227, 255, 0.5);
    color:rgb(17, 87, 168);
}
.user-details>p:nth-child(4){
    background: rgba(255, 249, 193, 0.5);
    color:rgb(190, 173, 22);
}

.elective-choices-container{
    background-color:#fff;
    padding:20px;
    margin:25px 0px;
    border-radius: 10px;
}

.elective-choices{
    display: flex;
    row-gap: 15px;
    column-gap:80px;
    flex-wrap: wrap;
}
