.course-container{
    margin: 0 100px;
}

.course-title{
    font-weight:bold;
    font-size:2.5em;
    margin:0;
    margin-top:35px;
}

.course-spec{
    font-family: Open Sans;
    margin-top:15px;
    display: flex;
    flex-direction: row;
}

.course-spec>p{
    font-size: 1.5em;
    font-weight: 600;
    padding:5px 15px;
    margin:0;
    margin-right: 10px;
    border-radius: 10px;
    cursor: default;
}

.course-spec>p:nth-child(1){
    background: rgb(255, 193, 193,0.5);
    color:rgb(255, 64, 64);
}
.course-spec>p:nth-child(2){
    background: rgba(211, 255, 193, 0.5);
    color:rgb(17, 168, 17);
}
.course-spec>p:nth-child(3){
    background: rgba(193, 227, 255, 0.5);
    color:rgb(17, 87, 168);
}
.course-spec>p:nth-child(4){
    background: rgba(255, 249, 193, 0.5);
    color:rgb(190, 173, 22);
}

.course-desc-title{
    font-size: 1.5em;
    font-weight: bold;
}

.course-desc{
    font-size: 1.2em;
    width:70%;
}

.back-btn{
    display:flex;
    align-items: center;
    justify-content:center;
    background:#fff;
    width:90px;
    margin-left: 100px;
    margin-top: 20px;
    padding:2px;
    border-radius:10px;
}