.admin-functions{
    font-family: Open Sans;
    margin-top:15px;
    display: flex;
    flex-direction: row;
}

.btn-add{
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 25px;
    padding: 15px;
    display:flex;
    align-items: center;
    border:none;
    border-radius:15px;
    cursor: pointer;
}

.btn-add:nth-child(1){
    background: rgb(255, 193, 193,0.5);
    color:rgb(255, 64, 64);
}
.btn-add:nth-child(2){
    background: rgba(211, 255, 193, 0.5);
    color:rgb(17, 168, 17);
}
.btn-add:nth-child(3){
    background: rgba(193, 227, 255, 0.5);
    color:rgb(17, 87, 168);
}

.admin-forms{
    
}

