.input-box{ 
    background:none;
    font-size: 16px;
    padding: 10px;
    width:450px;
    border-radius:6px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom:15px ;
}

.labels{
    font-size:20px;
    font-weight: 600;
}

.add-btn{
    /* margin-top:15px; */
    background:rgba(46,106,218);
    border:none;
    padding:10px;
    border-radius:6px;
    font-size:16px;
    color:#fff;
    font-weight: 600;
    font-family: Poppins;
}

.select-btn{
    background:none;
    border:none;
    padding:10px;
    border-radius:6px;
    font-size:16px;
    font-family: Poppins;
    margin-top:15px;
    margin-right: 15px;
    margin-bottom:15px ;
    border: 1px solid rgba(0,0,0,0.5);
}

.year-input{
    width:150px !important;
}

.form-header{
    display: flex;
}
.role-form{
    margin-left: 20px;
}
.role-form .select-btn{
    margin-left:10px !important;
}

.input-txtbox{
    background:none;
    font-size: 16px;
    padding: 10px;
    width:450px;
    border-radius:6px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom:15px 
}