.login-page{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Poppins;
}

.login-img>img{
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  background-position: 50% 50%;
}

.login-form-box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size:60px;
    width:450px;
    word-wrap: break-word;
    line-height:120%;
    margin-bottom:50px
}

.dot{
    font-size: 1em;
    color: rgba(46,106,218);
}

.login-form-box>form{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
    padding: 0;
    width: 47%;
}

.input-group{
    
    margin:20px 0;
}

.input-label{
    font-size: 20px;
    font-weight:400;
}

.input-box{ 
    background:none;
    font-size: 16px;
    padding: 10px;
    width:450px;
    border-radius:6px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-top:5px ;
}

.login-btn{
    margin-top:20px;
    background:rgba(46,106,218);
    border:none;
    padding:10px;
    border-radius:6px;
    font-size:20px;
    color:#fff;
    font-weight: 600;
    font-family: Poppins;
}

.login-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.input-btn-group{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
}

.input-btn-group>Link{
    margin-top:10px;
}